/* layouyt discord */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

/* parte iniziale con header e contenitori dentro flex */

header{
    max-width: 120rem;
    min-height: 37.5rem;
    padding-top: 1rem;
    color: white;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
/* nav con elementi all'interno */

nav{
    max-width: 78.25rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 1.25rem;
    color: white;
}

#navleft{
    padding: 1rem;
    width: 20%;
}

#navcenter{
    padding: 1rem;
    text-align: center;
    width: 60%;
    display: flex;
    justify-content: center;
}

#navright{
    padding: 1rem;
    text-align: right;
    width: 20%;
    color: #23272a;
    background-color: rgb(255, 255, 255);
    border: .3125rem solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: .3125rem .625rem;
    box-shadow: .3125rem .3125rem .3125rem #333232;
}

div > a{
    text-decoration: none;
    color: white;
    margin: 0 1rem;
}

/* contenitore blu dopo nav */

#hero{
    height: 32.5rem;
    margin-top: 1rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heroContent{
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 5rem;
}

h1{
    font-size: 3rem;
}

.flexContent{
    display: flex;
    justify-content: space-evenly;
    padding: 1.5625rem;
}

.whiteButton{
    color: #23272a;
    background-color: rgb(255, 255, 255);
    border: .3125rem solid rgb(255, 255, 255); 
    border-radius: 1.25rem;
    padding: .3125rem .625rem;
    box-shadow: .3125rem .3125rem .3125rem #333232;
}

.whiteButton > a{
    text-decoration: none;
    color: #23272a;
}

.blackButton{
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border: .3125rem solid rgb(0, 0, 0);
    border-radius: 1.25rem;
    padding: .3125rem .625rem;
    box-shadow: .3125rem .3125rem .3125rem #333232;
    text-decoration: none;
}
#heroContent > p{
    margin-top: 2rem;  
}
/* main con 3 sezioni + 1 grande */

.boxed{ 
    max-width: 78.25rem;
    margin: 0 auto;
    display: flex;
}

.row > div.boxed{
    height: 31.25rem;
    padding: 3.125rem 0 3.125rem 0;
}
.whiteBoxed{
    background-color: #ffffff;
}

.greyBoxed{
    background-color: #d3d3d3;
}

.blueRow{
    width: 60%;
    height: 100%;
}

.pinkRow{
    width: 40%;
    height: 100%;
}

h2{
    font-size: 3rem;
}
/* sezione grigia con cont verde dentro grande */

#grey{
    background-color: #d3d3d3;
}

#contgreen{
    max-width: 78.25rem;
    height: 62.5rem;
    margin: 0 auto;
    padding: 3.125rem 0 3.125rem 0;
    display: flex;

}

#greenBoxed{
    width: 100%;
    height: 100%;
    text-align: center;

}

.discordButton{
    color: white;
    background-color: #8ea1e1;
    border: .3125rem solid #8ea1e1; 
    border-radius: 1.25rem;
    padding: .3125rem .625rem;
    box-shadow: .3125rem .3125rem .3125rem #333232;
    width: 180px;
    margin: 0 auto;
}
/* footer diviso in 2 parti */

/* prima parte sezione con colonne 1 grande e 4 uguali */

footer{
    background-color: #23272a;
}

.footerTop{
    height: 31.25rem;
    padding-bottom: 3.125rem;
    padding-top: .625rem;
}

.footerTopLeft{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

#italianFlag{
    width: 25px;
}

.footerTopRight{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
} 

.footerColumn{
    width: 25%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

hr{
    border: 0,.3125rem solid white;
    width: 78.25rem;
    margin: 0 auto;
}

/* seconda parte footer */

.footerBottom{
    height: 6.25rem;
    margin-top: 1.25rem;
    justify-content: space-between;
    align-items: center;
}

.footerLateralColumn {
    padding: 0.5rem;
}

.footerLateralColumn > a{
    color: white;
    background-color: #8ea1e1;
    border: .3125rem solid #8ea1e1; 
    border-radius: 1.25rem;
    padding: .3125rem .625rem;
    box-shadow: .3125rem .3125rem .3125rem #333232;
}